<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Entry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2">
        <h1>Update Entry</h1>
        <form action="#" th:action="@{/saveEntry}" th:object="${updateEntry}">
            <input type="hidden" th:field="*{id}">
            <label>Entry Name:<br><input type="text" th:field="*{name}" class="form-control"></label><br>
            <label>Entry text:<br><textarea th:field="*{text}" class="form-control" cols="100" rows="10"></textarea></label><br><br>
            <input type="submit" value="UPDATE" class="btn btn-info col-2">
        </form>
    </div>

</body>

</html>